# WEB SCRAPING

### Importing all library:

In [5]:
from selenium import webdriver
import bs4
import requests
import pandas as pd
import re

In [6]:
url="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages"

In [7]:
res=requests.get(url)

In [8]:
res.status_code

200

In [9]:
text=res.content

In [10]:
soup=bs4.BeautifulSoup(text)

In [11]:
type(soup)

bs4.BeautifulSoup

In [12]:
all_tables=soup.find_all('table',attrs={"class":"wikitable"})

In [13]:
len(all_tables)

25

In [14]:
d_table=all_tables[3].find_all('tr')[1:]

In [15]:
all_tables=soup.find_all('table',attrs={"class":"wikitable"})

In [16]:
len(all_tables)

25

In [20]:
row=all_tables[3].find_all('tr')

In [21]:
len(row)

5

In [22]:
all_tables=soup.find_all('table',attrs={'class':'wikitable'})

In [23]:
len(all_tables)

25

In [24]:
d_tables=all_tables[3].find_all('tr')[1:]

In [25]:
df=pd.DataFrame({},columns=["Country","Capital","Language"])
df2=pd.DataFrame({},columns=["Country","Capital","Language"])

In [26]:
df

Empty DataFrame
Columns: [Country, Capital, Language]
Index: []

# Getting information from all the tables

In [27]:
for one_tables in all_tables:
    all_rows= one_tables.find_all('tr')[1:]
    for tr in all_rows:
        all_tds=tr.find_all('td')

        country=all_tds[0].text
        capital=all_tds[1].text
        language=all_tds[-1].text
        ele={'Country':country,'Capital':capital,'Language':language}
        df=df.append(ele,ignore_index=True)
#         print(country,"==",capital,"==",language)

In [28]:
df=df.append({'Country': 'tuvalu','Capital':'funafuti','Language':'asdf'},ignore_index=True)

In [29]:
df

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari(Arabic script)\n
1,Albania,Tirana,Albanian\n
2,Algeria,Algiers,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa[1],Pago Pago,SamoanEnglish\n
4,Andorra,Andorra la Vella,Catalan\n
...,...,...,...
238,Wallis and Futuna[10],Mata Utu,FrenchWallisianFutunan\n
239,Yemen,Sana'a,Arabic(Arabic script)\n
240,Zambia,Lusaka,"English, Bemba, Chewa\n"
241,Zimbabwe,Harare,"English, Shona\n"
242,tuvalu,funafuti,asdf

###  Cleaning csv file

In [30]:
df['Language']=df['Language'].apply(lambda x: x.strip())

In [31]:
df['Country']=df['Country'].apply(lambda  x : re.sub('\[.*\]','',x.strip()))

###  Creating csv file

In [32]:
df.to_csv("countriess.csv", index=False)

In [33]:
country_df=pd.read_csv('countriess.csv')

In [34]:
country_df

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari(Arabic script)
1,Albania,Tirana,Albanian
2,Algeria,Algiers,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa,Pago Pago,SamoanEnglish
4,Andorra,Andorra la Vella,Catalan
...,...,...,...
238,Wallis and Futuna,Mata Utu,FrenchWallisianFutunan
239,Yemen,Sana'a,Arabic(Arabic script)
240,Zambia,Lusaka,"English, Bemba, Chewa"
241,Zimbabwe,Harare,"English, Shona"
242,tuvalu,funafuti,asdf

###  web automation

In [35]:
driver=webdriver.Edge(executable_path='msedgedriver')

In [ ]:
driver.get('https://www.jetpunk.com/quizzes/name-world-capitals')

In [ ]:
button=driver.find_element_by_id('start-button')

In [ ]:
button.click()

In [ ]:
for i in range(0,243):
    fill=driver.find_element_by_xpath('//*[@id="txt-answer-box"]')   
    fill.send_keys(df['Capital'][i])
    fill.send_keys(" ")
    fill.clear()

In [38]:
driver.quit()